*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 80vw;
    background-color: rgb(250, 237, 226);
    margin: auto;
}

#nav-main{
    width: 100%;
    display: flex;
    flex-direction: row;
}

main{
    height: 100wh;
    width: 70%;
    text-align: center;
    font-size: calc(2px + 1.5vw);
}

main *{
    margin: 2%;
}

#this-one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

main p{
    line-height: 100%;
    font-size: calc(2px + 2vw);
    padding: 2%;
}

main h3{
    text-align: center;
    margin: 2% 0;
    font-size: calc(2px + 2vw);
    color: maroon;
}

main img{
    max-width: 40%;
}

nav{
    width: 30%;
    background-color: brown;
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{
    border: 3px solid white;
    margin: 5% 0;
    width: 80%;
    padding: 1%;
    text-align: center;
}

nav *{
    color:aqua;
    font-size: calc(2px + 1.2vw);
    text-decoration: none;
}

footer{
    background-color: rgb(244, 49, 49);
    color: bisque;
    padding: 1%;
    text-align: center;
}

footer a{
    color: rgb(255, 196, 196);
}


@media screen and (max-width: 750px) {
    nav {
        width: 100%;
        flex-direction: row;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    header {
        text-align: center;
    }

    main {
        width: 100%;
    }
}

@media screen and (min-width: 751px) {
    #container {
        display: flex;
        flex-direction: row;
    }

    nav {
        width: 30%;
    }

    main {
        width: 70%;
    }

    header {
        text-align: left;
    }
}
